.home_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home_container > button {
    margin: 20px 0;
    padding: 20px 40px;
    font-size: 25px;
}